body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

section {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

section#about {
    background-color: #d0f2f6;
}

section#PORs {
    background-color: rgb(249, 223, 223);
}

section#contact {
    background-color: rgb(189, 251, 189);
}